/*To uniformize margins accross browsers*/
body {
    margin: 8px;
    padding: 0;
}

/*French text*/
[lang|=fr] {
    display: none;
}

/*Responsive Web Design (RWD)*/
    * {
        box-sizing: border-box;
    }

    /* For smartphone RWD: */
    [class*="col-"] {
        width: 100%;
    }

    @media only screen and (min-width: 601px) {
        /* For tablet RWD: */
        .col-m-1 {width: 8.33%;}
        .col-m-2 {width: 16.66%;}
        .col-m-3 {width: 25%;}
        .col-m-4 {width: 33.33%;}
        .col-m-5 {width: 41.66%;}
        .col-m-6 {width: 50%;}
        .col-m-7 {width: 58.33%;}
        .col-m-8 {width: 66.66%;}
        .col-m-9 {width: 75%;}
        .col-m-10 {width: 83.33%;}
        .col-m-11 {width: 91.66%;}
        .col-m-12 {width: 100%;}
    }

    @media only screen and (min-width: 993px) {
        /* For desktop RWD: */
        .col-1 {width: 8.33%;}
        .col-2 {width: 16.66%;}
        .col-3 {width: 25%;}
        .col-4 {width: 33.33%;}
        .col-5 {width: 41.66%;}
        .col-6 {width: 50%;}
        .col-7 {width: 58.33%;}
        .col-8 {width: 66.66%;}
        .col-9 {width: 75%;}
        .col-10 {width: 83.33%;}
        .col-11 {width: 91.66%;}
        .col-12 {width: 100%;}
    }

    /*All columns with float left, but rows won't get mingled*/
    [class*="col-"] {
        float: left;
    }
    .row {
        padding: 0.01em 16px;
    }
    .row::after {
        content: "";
        clear: both;
        display: block;
    }


/*Images*/
img {   
    border: 0;
    max-width: 100%;
    height: auto;
}

/*Page width*/
body {
    max-width: 1000px;
    margin: 8px auto;
}

/*Font*/
.nav button, body.project div.title, body.project div.description, h3 {
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0.18em;
    color: rgb(51,51,51);
}
.nav button, body.project div.title {
    text-transform: uppercase;
}

/*Navigation bar*/
.header {
    padding-top: 20px;
    padding-bottom: 20px;
}
.nav ul {
    float: right;
    padding: 0;
}
.nav li {
    display: inline-block;
}
.nav button {
    padding: 8px 16px;
}
button {
    border: none;
    outline: none;
    background-color: white;
    cursor: pointer;
}

/*Portfolio page-specific css*/
div.pictures button {
    padding: 0;
}
@media only screen and (min-width: 601px) {
    /* For tablet and desktop portfolio tiles: */
    .col-portfolio {width: 20%;}
}

/*Project page-specific css*/
body.project div.content {
    margin: auto;
}
div.content#coffee-table {
    max-width: 608px;
}
body.project div.pictures img {
    padding: 4px;
    display: block;
}
body.project div.pictures {
    margin-left: -4px;
    margin-right: -4px;
}
@media only screen and (min-width: 601px) {
    /* For tablet and desktop project picture layouts: */
    .parent {position: relative;}

    #maple-collection-1 {width: 24.1%;}
    #maple-collection-3 {width: 51%;}
    #maple-collection-2 {width: 24.9%;}

    #delta-table-3-8 {width: 53.5%;
                    position: absolute;
                    bottom: 0;
                    padding-right: 16px;}
    #delta-table-1 {width: 46.5%;
                    margin-left: 53.5%}
    #delta-table-5 {width: 41.5%;}
    #delta-table-2 {width: 58.5%;}
    #delta-table-7 {width: 31%;}
    #delta-table-4 {width: 21.2%;}

    #miscellaneous-col1 {width: 40.25%;}
    #bottle-chandelier-1 {width: 85%;
                        position: absolute;
                        right: 0;}
    #bike-rack {margin-top: 91%;}

    #miscellaneous-col2 {width: 57.7%;}
    #block-lamp {width: 64.2%;
                position: absolute;
                bottom: 0;}
    #wine-crate-shelves {width: 35.8%;
                        margin-left: 64.2%;}

    #miscellaneous-col3 {width: 59.75%;}
    #bottle-chandelier-2 {width: 27.1%;}
    #book-rack-2 {width: 27.1%;
                position: absolute;
                bottom: 0;}
    #butcher-blocks {width: 34.9%;}
    #book-rack-3 {width: 34.9%;
                position: absolute;
                bottom: 0;
                margin-left: 27.1%;}
    #book-rack-1 {width: 38%;}

    #jewelry-box-2 {width: 41.55%;}
    #jewelry-box-1-3 {width: 58.45%;}

    #nad-face-plates-3 {width: 62%;}
    #nad-face-plates-2 {width: 38%;}
    #nad-face-plates-1 {width: 32.6%;}
}


/*Slideshow page-specific css*/
div.slideshow {
    width: 100%;
    height: 100%;
    position: absolute;
    margin:auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

div.slideshow img {
    display: none;
    
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    margin:auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
