/*To uniformize margins accross browsers*/
body {
    margin: 8px;
    padding: 0;
}

/*French text*/
[lang|=fr]:not(html) {
    display: none;
}

/*Responsive Web Design (RWD)*/
    * {
        box-sizing: border-box;
    }

    /* For smartphone RWD: */
    [class*="col-"] {
        width: 100%;
    }

    @media only screen and (min-width: 601px) {
        /* For tablet RWD: */
        .col-m-1 {width: 8.33%;}
        .col-m-2 {width: 16.66%;}
        .col-m-3 {width: 25%;}
        .col-m-4 {width: 33.33%;}
        .col-m-5 {width: 41.66%;}
        .col-m-6 {width: 50%;}
        .col-m-7 {width: 58.33%;}
        .col-m-8 {width: 66.66%;}
        .col-m-9 {width: 75%;}
        .col-m-10 {width: 83.33%;}
        .col-m-11 {width: 91.66%;}
        .col-m-12 {width: 100%;}
    }

    @media only screen and (min-width: 993px) {
        /* For desktop RWD: */
        .col-1 {width: 8.33%;}
        .col-2 {width: 16.66%;}
        .col-3 {width: 25%;}
        .col-4 {width: 33.33%;}
        .col-5 {width: 41.66%;}
        .col-6 {width: 50%;}
        .col-7 {width: 58.33%;}
        .col-8 {width: 66.66%;}
        .col-9 {width: 75%;}
        .col-10 {width: 83.33%;}
        .col-11 {width: 91.66%;}
        .col-12 {width: 100%;}
    }

    /*All columns with float left, but rows won't get mingled*/
    [class*="col-"] {
        float: left;
    }
    .row {
        padding: 0.01em 16px;
    }
    .row::after {
        content: "";
        clear: both;
        display: block;
    }


/*Images*/
img {   
    border: 0;
    max-width: 100%;
    height: auto;
}

/*Page width*/
body {
    max-width: 1000px;
    margin: 8px auto;
    font-size: 100%;
    min-width: 320px;
}

/*Font*/
.nav button, body.project div.title, body.project div.description, h3 {
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0.18em;
}
.nav button, body.project div.title, h3 {
    color: rgb(92,86,55);
}
.nav button, body.project div.title {
    text-transform: uppercase;
}
body.project div.title h1 {
    font-weight: normal;
    font-size: 1.7em;
    letter-spacing: 0.22em;
}
.col-portfolio h3 {
    font-weight: 500;
    padding-left: 0.5em;
}
.col-portfolio button {
    text-align: left;
}
body.project div.description {
    color: rgb(51,51,51);
}

/*Navigation bar*/
.header {
    padding-top: 20px;
    padding-bottom: 20px;
}
#logo {
    padding-bottom: 0.2em;
}
#sub-banner {
    border-color: rgb(92,86,55);
    border-width: 2px;
    border-style: solid;
}
.nav ul {
    float: right;
    padding: 0;
    margin: 0;
}
.nav li {
    display: inline-block;
}
.nav button {
    padding: 0 16px;
    font-size: 1.1em;
    font-weight: bold; 
}
.nav li:last-of-type button {
    padding-right: 0;
}
button {
    border: none;
    outline: none;
    background-color: white;
    cursor: pointer;
    max-width: 100%;
}
/*Making nav bar shrink on small devices*/
@media only screen and (max-width: 525px) {
    .nav {
        font-size: 80%;
    }
}
@media only screen and (max-width: 450px) {    
    .nav button {
        padding: 0 8px;
    }
    .nav li:first-of-type button {
        padding-left: 0;
    }
}
@media only screen and (max-width: 390px) {
    .nav {
        font-size: 65%;
    }
}


/*Portfolio page-specific css*/
div.pictures button {
    padding: 0;
}
/*@media only screen and (min-width: 601px) {
*/    /* For tablet and desktop portfolio tiles: */
    .col-portfolio {width: 33%;}
/*}
*/
/*Project page-specific css*/
body.project div.content {
    margin: auto;
}
div.content#rajasthan-table {
    max-width: 608px;
}
body.project div.pictures img {
    padding: 4px;
    display: block;
}
body.project div.pictures {
    margin-left: -4px;
    margin-right: -4px;
}
.parent {position: relative;}

@media only screen and (min-width: 601px) {
    /* For tablet and desktop project picture layouts: */
    
    #maple-collection-1 {width: 24.1%;}
    #maple-collection-3 {width: 51%;}
    #maple-collection-2 {width: 24.9%;}

    #delta-table-3-8 {width: 53.5%;
                    position: absolute;
                    bottom: 0;
                    padding-right: 16px;}
    #delta-table-1 {width: 46.5%;
                    margin-left: 53.5%;}
    #delta-table-5 {width: 41.5%;}
    #delta-table-2 {width: 58.5%;}
    #delta-table-7 {width: 31%;}
    #delta-table-4 {width: 21.2%;}

    #miscellaneous-col1 {width: 40.25%;}
    #bottle-chandelier-1 {width: 85%;
                        position: absolute;
                        right: 0;}
    #bike-rack {margin-top: 91%;}

    #miscellaneous-col2 {width: 57.7%;}
    #block-lamp {width: 64.2%;
                position: absolute;
                bottom: 0;}
    #wine-crate-shelves {width: 35.8%;
                        margin-left: 64.2%;}

    #miscellaneous-col3 {width: 59.75%;}
    #bottle-chandelier-2 {width: 27.1%;}
    #book-rack-2 {width: 27.1%;
                position: absolute;
                bottom: 0;}
    #butcher-blocks {width: 34.9%;}
    #book-rack-3 {width: 34.9%;
                position: absolute;
                bottom: 0;
                margin-left: 27.1%;}
    #book-rack-1 {width: 38%;}

    #jewelry-box-2 {width: 41.55%;}
    #jewelry-box-1-3 {width: 58.45%;}

    #nad-face-plates-3 {width: 62%;}
    #nad-face-plates-2 {width: 38%;}
    #nad-face-plates-1 {width: 32.6%;}

    #picture-frames-col1 {width: 33.04%;}
    #picture-frames-col2 {width: 66.96%;}
    #picture-frames-6a {width: 100%;}
    #picture-frames-3 {width: 71.55%;}
    #picture-frames-11 {width: 28.45%;}
    #picture-frames-12 {width: 51.5%;}
    #picture-frames-4 {width: 48.5%;}

    #turner-1 {width: 58.5%;}
    #turner-5 {width: 41.5%;
                position: absolute;
                bottom: 0;
                padding-right: 16px;
                left: 58.5%;}
    #turner-before {width: 19%;
                    margin-left: 9.225%;}
    #turner-after {width: 19%;}
    #turner-3 {width: 27.2%;}
    #turner-4 {width: 16.35%;}

    #whiskey-shelf-col1 {width: 24.8%;}
    #whiskey-shelf-col2 {width: 50.55%;}
    #whiskey-shelf-col3 {width: 24.65%;}

    #white-oak-collection-9 {width: 45.4%;}
    #white-oak-collection-4 {width: 54.6%;}
    #white-oak-collection-8 {width: 20.7%;}
    #white-oak-collection-11 {width: 22.05%;}
    #white-oak-collection-2 {width: 36.55%;}
    #white-oak-collection-6 {width: 20.7%;}

    #oyster-bar-7 {width: 31.125%;}
    #oyster-bar-1 {width: 68.875%;}
    #oyster-bar-3 {width: 88%;
                    margin-left: 6%;}
    #oyster-bar-2 {width: 33.2%;}
    #oyster-bar-gif {width: 33%;}
    #oyster-bar-8 {width: 33.8%;}

    #william-dresser-7 {width: 37.35%;}
    #william-dresser-8 {width: 37.35%;}
    #william-dresser-3 {width: 25.3%;}
    #william-dresser-2 {width: 100%;}
    #william-dresser-6 {width: 41.75%;}
    #william-dresser-gif {width: 16.75%;}
    #william-dresser-5 {width: 41.5%;}

    #workbench-2 {width: 30%;
                position: absolute;
                bottom: 0;
                padding-right: 10px;}
    #workbench-6 {width: 50%;
                margin-left: 30%;}
    #workbench-1 {width: 21.15%;
                position: absolute;
                bottom: 0;
                right: 0;
                padding-right: 16px;}
    #workbench-4 {width: 62%;
                margin-left: 4.5%;}
    #workbench-5 {width: 29%;}
    #workbench-3 {width: 21.8%;}

    #aircraft-bar-col1 {width: 26%;}
    #aircraft-bar-col2 {width: 74%;}
    #aircraft-bar-2 {width: 100%;
                    margin-top: 129.5%;}
    #aircraft-bar-3 {width: 78%;}
    #aircraft-bar-8 {width: 59.4%;}
    #aircraft-bar-5 {width: 40.6%;}
    #aircraft-bar-1 {width: 21%;}
    #aircraft-bar-6 {width: 57%;}

    #market-case-3 {width: 21.5%;}
    #market-case-1 {width: 38.2%;
                    position: absolute;
                    bottom: 0;
                    margin-left: 21.3%;}
    #market-case-7 {width: 38.1%;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    padding-right: 16px;}
}


/*Slideshow page-specific css*/
div.slideshow {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: rgb(0,0,0);
}

div.slideshow img {
    display: none;
    
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

a.previous, a.next {
    font-weight: bolder;
    font-size: 500%;
    color: rgba(255,255,255,0.4);

    height: 100%;
    width: 15%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
}
a.previous {
    left: 0;
}
a.next {
    right: 0;
}
a.previous span, a.next span {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
span.chevron::before {
    border-style: solid;
    
    content: '';
    display: inline-block;
    position: relative;
    height: 0.45em;
    width: 0.45em;
    top: 0.2em;

    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    vertical-align: top;
}
a.previous span.chevron::before {
    border-width: 0.25em 0 0 0.25em;
    left: 0.25em;
}
a.next span.chevron::before {
    border-width: 0 0.25em 0.25em 0;
    right: 0.25em;
}
